h1
{
    font-family: 'Times New Roman', Times, serif;
}

h2
{
    font-family: monospace;
}


.lower
{
    text-transform: lowercase;
}

.upper
{
    text-transform: uppercase;
}

.capitalize
{
    text-transform: capitalize;
}